<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <listener>
        <listener-class>
            model.DateListener
        </listener-class>
    </listener>
    <context-param>
        <param-name>Footer</param-name>
        <param-value>Copyright © 2020. RAPID: Ready Access Patient Information Database</param-value>
    </context-param>
    <context-param>
        <param-name>jdbcClassName</param-name>
        <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
    </context-param>
    <context-param>
        <param-name>dbUserName</param-name>
        <param-value>app</param-value>
    </context-param>
    <context-param>
        <param-name>dbPassword</param-name>
        <param-value>app</param-value>
    </context-param>
    <context-param>
        <param-name>jdbcDriverURL</param-name>
        <param-value>jdbc:derby://localhost:1527/RAPID</param-value>
    </context-param>
    <env-entry>
        <env-entry-name>cipher</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>AES/ECB/PKCS5Padding</env-entry-value>
    </env-entry>
    <servlet>
        <servlet-name>LoginAdminServlet</servlet-name>
        <servlet-class>servlet.LoginAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAttendantServlet</servlet-name>
        <servlet-class>servlet.LoginAttendantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewPatientServlet</servlet-name>
        <servlet-class>servlet.NewPatientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactServlet</servlet-name>
        <servlet-class>servlet.ContactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecordsServlet</servlet-name>
        <servlet-class>servlet.RecordsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetIDServlet</servlet-name>
        <servlet-class>servlet.GetIDServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginAdminServlet</servlet-name>
        <url-pattern>/LoginAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAttendantServlet</servlet-name>
        <url-pattern>/LoginAttendantServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewPatientServlet</servlet-name>
        <url-pattern>/NewPatientServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactServlet</servlet-name>
        <url-pattern>/ContactServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecordsServlet</servlet-name>
        <url-pattern>/RecordsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetIDServlet</servlet-name>
        <url-pattern>/GetIDServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
