/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04 1, 21, 9:41:40 PM
    Author     : garrymadamba
*/
body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;

}
.button {
    color: black;
    border-radius: 5px;
    cursor: pointer;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
}
/*
.modal {
    display: none;
    position: relative;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    border-radius:20px 20px 0 0;
}*/
.modal-content {
    margin: 10% auto;
    width: 30%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: 1s;
    border: 1px solid black;
    border-radius:20px 20px 0 0;
    background: white;

}
.modal-header h2{
    background:#910707;
    font-family: 'Montserrat', sans-serif;

    font-size: 17px;
    font-weight: bold;
    color: #fff;
    text-align: center;

}
.modal-header {
    background:#910707;
    border-radius:20px 20px 0 0;
    padding: 3px;
}
.modal-body {
    margin-bottom: -10px;
    padding: 0 20px;


}

@keyframes modalopen {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.fa-check{
    padding-top: 20px;
    position: fixed;
    font-size: 70px;
    color: #27ae60;
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
    width: 30%;  
}
.p{
    font-size: 20px;
    color: #910707;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

}
.fa-file-alt{
    padding-top: 20px;
    position: fixed;
    font-size: 70px;
    color: black;
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
    align-content: center;
    width: 30%;

}

.fa-trash-alt{
    padding-top: 20px;
    position: relative;
    font-size: 70px;
    color: black;
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
    align-content: center;
    width: 30%;
}

.closeModalR{
    margin-bottom: 10px;
    color: white;
    background: #910707;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    border-radius:15px 15px 15px 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: relative;
    border-radius: 5px;

}
.closeModalR:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.closeModalE{
    margin-bottom: 10px;
    color: white;
    background: #910707;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    border-radius:15px 15px 15px 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: relative;
    border-radius: 5px;

}
.closeModalE:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.closeModal{
    margin-bottom: 10px;
    color: white;
    background: #910707;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    border-radius:15px 15px 15px 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: relative;
    border-radius: 5px;

}
.closeModal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.closeDlt1{
    margin-bottom: 10px;
    color: white;
    background: #910707;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    border-radius:15px 15px 15px 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: relative;
    border-radius: 5px;
}
.closeDlt{
    margin-bottom: 5px;
    color: white;
    background: #910707;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    border-radius:15px 15px 15px 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: relative;
    border-radius: 5px;
}
.close{
    margin-bottom: 5px;
    color: white;
    background: #910707;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    border-radius:15px 15px 15px 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: relative;
    border-radius: 5px;
}